@model MusicSubscriptionApp.Models.AppUser
@{
}
<p>You are now logged in.. WOO!! @Model.Email</p>
<a class="btn btn-primary btn-login text-uppercase fw-bold" asp-controller="AppUser" asp-action="Logout">Logout</a>